body
{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 16px;
    margin: 0%;
    padding: auto;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: auto;
}
#cabecera
{
    background: #33A;
    box-shadow: opx 2px 20px 0px rgba(0,0,0,5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
#container #tagline 
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}
#containerh1
{
    font-size: 20px;
}